header {
  width: 100%;
  height: 100px;
  color: #61EB00;
  background: #275D00;
  
  .logo {
    color: #61EB00;
    font-size: 64px;
    
    span {
      color: #EF0040;
    }
  }

  .menu {
    


    .menu-list {
      display: inline;
      align-items: center;
      ul {
        background: red;
        margin: 10px 50px;
      }
    }
  }

  .content-zone {
    @include content-zone();
  }
}
