input[type="checkbox"] {
    appearance: checkbox;
    width: 40px;
    height: 40px;
    margin: 10px;
}

input {
    all: unset;
    border: 0px;
    display: flex;
    display: inline;
    width: 100%;

    .test-title{
        color: $font-color;
        text-align: center;
        min-width: 100px;

        @include font-inter(400, 32px, $font-color);
    }

    .question-title {
        color: $font-color;
        @include font-inter(400, 32px, $font-color);
    }
    .question-info {
        color: $font-color;
        @include font-inter(400, 32px, $font-color);
    }
    
    &.input-answer {
        background: $green-button;
        height: 20px;
        padding: 10px 20px;
        @include font-inter(400, 16px, #FFFFFF);
    }


    &::placeholder {
        color: #880025;
    }

    &:active {
        background: #00c397;  
    }
    &:hover {
        background: #00c397;
    }
}

.answer__wrapper {
    display: flex;
    align-items: center;

    // input {
    //     @include font-inter(400, 16px, $font-color);
    // }
}