@font-face {
  font: Yinmar;
  src: url(\fonts\Yinmar-Regular.ttf);	
}

@font-face {
	font: Montserrat;
	src: url(\fonts\Montserrat-Regular.ttf);
}

@font-face {
  font: Manuale;
  src: url(\assets\fonts\Manuale-Regular.ttf);	
}

//C:\Users\Vlad\Documents\test-site\