$bg-color: rgba(0, 146, 113, 0.3);
$bg-color-hover: rgba(0, 146, 113, 0.3);
$input-bg-color: rgba(0, 146, 113, 0.3);

$font-color: #00614B;

$green-button: #00785D;

$green-button-active: #00c397; 
$green-button-hover: #009271;
$green-button-selected: #68027a;

$red-button: #BA4700;

$red-button-active: #ff6200;
$red-button-hover: #e25600;