@import "reset";

// standard imports
@import "_variable";
@import "_fonts";
@import "_mixin";
@import "_regions";

// test-create imports

@import "blocks/_header.scss";
@import "blocks/_footer.scss";

@import "test-create/input.scss";
@import "test-create/test_creator.scss";

body {
    @media screen and (max-width: 1921px) {
        max-width: 1920px;
        
    }
    
}



.result {
    padding: 50px;
    background: $bg-color;
    @include font-inter(400, 20px, $font-color);
}